
body {
  background: linear-gradient(135deg, #f862ce, #bf4f98);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-display: block;
}

/*  boxes with animation */
.pink-box {
  background-color: white;
  font-size: 20px;
  border-radius: 12px;
  padding: 14px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.pink-box:focus,
.pink-box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(255, 0, 102, 0.4);
}

/* Dropdown animation */
.form-select {
  transition: all 0.3s ease-in-out;
}

.form-select:hover,
.form-select:focus {
  transform: scale(1.05);
  border-color: #ff4d88;
  box-shadow: 0 0 8px rgba(255, 0, 102, 0.5);
}

/* Button animation */
.convert-btn,
.btn-danger {
  background: blue;
  border: none;
  font-size: 18px;
  padding: 12px 28px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 12px rgba(255, 0, 102, 0.4);
}

.convert-btn:hover,
.btn-danger:hover {
  background: #ff0066;
  transform: translateY(-4px) scale(1.07);
  box-shadow: 0 8px 20px rgba(255, 0, 102, 0.6);
}
